$playlist-color: #eff9f5;

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    height: 100%;
}

section {
    padding-top: 1em;
    padding-bottom: 2em;
}

.header {
    height: 500px;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.playlist {
    background-color: $playlist-color;
}